
  <h1>Restaurants#index</h1>
  <p>List all restaurants</p>

  <table>
    <thead>
      <th>Name</th>
      <th>Category</th>
    </thead>
    <tbody>
      <% @restaurants.each do |resto| %>
        <tr>
          <td><%= resto.name %></td>
          <td><%= resto.category %></td>
          <td><%= link_to "see details", restaurant_path(resto) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


<%= link_to "add a new restaurant", new_restaurant_path %>
